<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kn.paper_foss_theme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Paper"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.kn.paper_foss_theme.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.novalauncher.THEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.anddoes.launcher.THEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.adw.launcher.THEMES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.kn.paper_foss_theme.activities.LicenseActivity" />
        <activity android:name="com.kn.paper_foss_theme.activities.IconActivity" />
    </application>

</manifest>